* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title{
  height: 120px;
  background-color: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 23px;
}